.join-room__screen {
  background-color: darkmagenta;
  min-height: 100vh;
  color: #fff;
  padding: 24px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: auto;

  .enter-pin-form {
    max-width: 250px;
    width: 100%;
    margin: auto;

    input {
      margin-bottom: 10px;
      padding: 10px 15px;
      width: 100%;
      border-radius: 4px;
      height: 40px;

      &:focus {
        box-shadow: 5px 8px 24px 5px rgba(78, 78, 78, 0.6);
      }
    }

    button.submit-game {
      border-radius: 4px;
      height: 40px;
      width: 100%;
      &:hover {
        box-shadow: 5px 8px 24px 5px rgba(78, 78, 78, 0.6);
      }
    }
  }
}

.player-game__screen {
  height: 100vh;
  .player-info {
    .player-score {
      padding: 5px 20px;
      background-color: #c4c4c4;
      position: absolute;
      font-size: 18px;
      right: 10px;
      font-weight: bold;
      border-radius: 4px;
    }
    .player-name {
      font-weight: bold;
      letter-spacing: 0.2px;
      font-size: 20px;
    }
    padding: 5px 10px;
    height: 8vh;
    padding: 10px;
    background-color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .answers {
    min-height: 87vh;
    display: flex;
    flex: 4 1 0%;
    flex-wrap: wrap;
    padding: 10px;
    align-content: stretch;

    &.type-answer {
      .type-answer-input {
        background-color: #372b84;
        min-height: unset;
        padding: 30px;
        margin: auto;
        input {
          font-weight: bold;
          font-size: 26px;
          border: 0;
          &:focus {
            box-shadow: none !important;
          }
          color: #fff;
          text-shadow: rgb(0 0 0 / 25%) 0px 0.125rem 0px,
            rgb(0 0 0) 0px 0px 0.125rem;
          text-align: center;
          background-color: transparent;
        }
      }
    }
    .answer {
      width: calc(50% - 0.25rem);
      border-radius: 8px;
      margin-bottom: 0.5rem;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      padding: 10px;
      position: relative;
      color: #fff;
      padding: 20px 10px 20px 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: 20px;
      text-shadow: rgb(0 0 0 / 25%) 0px 0.125rem 0px,
        rgb(0 0 0) 0px 0px 0.125rem;

      &:active {
        box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.25);
      }
      .answer-label {
        text-shadow: none;
        background-color: #fff;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 30px;
        font-weight: bold;
      }
      .correct-answer-check-button {
        position: absolute;
        top: 10px;
        right: 10px;
        flex: 0 0 auto;
        background: transparent;
        margin: 0px 0.5rem;
        width: 2.875rem;
        height: 2.875rem;
        border: 0;

        &.checked {
          border: 0.25rem solid rgb(255, 255, 255);
          transition: background 0.2s ease 0s;
          transform-origin: center bottom;
          box-shadow: transparent 0px 0px 0px 0.125rem,
            rgb(0 0 0 / 35%) 0px 0.125rem 0.125rem,
            rgb(0 0 0 / 35%) 0px 0px 0px 0.0625rem;
          animation: 4.6s linear 2s infinite normal none running cXGEUf;
          border-radius: 50%;
          display: flex;
          align-items: center;
          background: rgb(102, 191, 57);
        }
      }
    }
    .answer-1 {
      .answer-label {
        color: #e21b3c;
      }
      background-color: #e21b3c;
      margin-right: 0.5rem;
    }
    .answer-2 {
      .answer-label {
        color: #1368ce;
      }
      background-color: #1368ce;
    }
    .answer-3 {
      .answer-label {
        color: #d89e00;
      }
      background-color: #d89e00;
      margin-right: 0.5rem;
    }
    .answer-4 {
      .answer-label {
        color: #26890c;
      }
      background-color: #26890c;
    }

    .submit-answer-btn {
      position: absolute;
      bottom: 8vh;
      background-color: darkmagenta;
      color: #fff;
      font-weight: bold;
      left: calc(50% - 50px);
      height: 50px;
      width: 100px;
      border-radius: 8px;
      border: 0;
      text-shadow: rgb(0 0 0 / 25%) 0px 0.125rem 0px,
        rgb(0 0 0) 0px 0px 0.125rem;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      &:active {
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }
  .question-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 1vh;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25);
  }
  .question-answer {
    background-image: url("https://shimatest.shop/background-dep-cho-powerpoint/imager_2_25831_700.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 86vh;
    color: #fff;
    .question-tf {
      padding-top: 40px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
      padding-top: 100px;
    }
    h3 {
      padding-top: 20px;
      color: #fff;
    }
  }
  .question-answer-result {
    height: 86vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .player-game-result {
      text-align: center;
      h1.top {
        font-size: 80px;
        color: #1368ce;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .player-game__screen .answers .answer {
    padding: 0;
  }
}
